<aside class="sidebar">
    <div class="widget widget_search">
        <h3><span>Most popular articles</span></h3>
        <div class="ot-widget-article-list">


            <div class="item">
                <div class="item-header">
                    <a href="post.php?p=105239"><img src="/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.php?p=105239">VMCwZyfp64uo8eB2EA5RPthczOkTrb</a></h4>
                </div>
            </div><br/>

            <div class="item">
                <div class="item-header">
                    <a href="post.php?p=105240"><img src="/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.php?p=105240">L6wYlgm4QxcDjhvpVyiT7XzUOKR5Ne</a></h4>
                </div>
            </div><br/>

            <div class="item">
                <div class="item-header">
                    <a href="post.php?p=105241"><img src="/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.php?p=105241">XPI4o92UjbBCnSdJ6VxFue0HMA7ykr</a></h4>
                </div>
            </div><br/>

            <div class="item">
                <div class="item-header">
                    <a href="post.php?p=105242"><img src="/images/photos/image-11.jpg" alt="" /></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.php?p=105242">DR0aNVJj4FLfm98db7lQCGckge2KWo</a></h4>
                </div>
            </div>


        </div>
        <a href="#" class="ot-widget-button">View more articles</a>
    </div>

    <div class="widget">
        <h3><span>Tag cloud</span></h3>
        <div class="tagcloud">
            <a href="search.php?tag=1">news</a>
            <a href="search.php?tag=2">android</a>
        </div>
    </div>


</aside>

</div>

<!-- END .wrapper -->
</div>

<!-- BEGIN #content -->
</main>
