<!-- footer yebda hna -->

<!-- BEGIN #footer -->
<footer id="footer">

  <!-- BEGIN .wrapper -->
  <div class="wrapper">

    <div class="footer-widgets otg otg-items-4 otg-h-30 otg-v-30">

      <!-- BEGIN .footer-widget-column -->
      <div class="footer-widget-column otg-item">

        <div class="widget">
          <h3><span>About our company</span></h3>
          <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>

        <!-- END .footer-widget-column -->
      </div>

      <!-- BEGIN .footer-widget-column -->
      <div class="footer-widget-column otg-item">

        <div class="widget">
          <h3><span>Popular articles</span></h3>
          <div class="ot-widget-article-list">
            <div class="item">
              <div class="item-header">
                <a href="#"><img src="/images/photos/image-11.jpg" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="#">VMCwZyfp64uo8eB2EA5RPthczOkTrb</a></h4>
              </div>
            </div>
            <div class="item">
              <div class="item-header">
                <a href="#"><img src="/images/photos/image-11.jpg" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="#">GDG Mascara Blog 1</a></h4>
              </div>
            </div>
            <div class="item">
              <div class="item-header">
                <a href="#"><img src="/images/photos/image-11.jpg" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="#">GDG Mascara Blog 2</a></h4>
              </div>
            </div>

          </div>
          <a href="#" class="ot-widget-button">View more articles</a>
        </div>

        <!-- END .footer-widget-column -->
      </div>

      <!-- BEGIN .footer-widget-column -->
      <div class="footer-widget-column otg-item">

        <div class="widget">
          <h3><span>Freshest categories</span></h3>
          <ul class="menu">

            <li><a href="index.php?cat=1">Programming</a></li>
            <li><a href="index.php?cat=2">Design</a></li>
            <li><a href="index.php?cat=3">Codelabs</a></li>
            <li><a href="index.php?cat=4">Events</a></li>

          </ul>
        </div>

        <!-- END .footer-widget-column -->
      </div>

      <!-- BEGIN .footer-widget-column -->
      <div class="footer-widget-column otg-item">

        <div class="widget">
          <h3><span>Latest flickr photos</span></h3>
          <div class="ot-widget-flicker-grid otg otg-items-3 otg-h-20 otg-v-20">

            <div class="item otg-item">
              <a href="##"><img src="http://farm8.staticflickr.com/7302/12333892565_fa980bc87f_q.jpg" alt="" /></a>
            </div>

          </div>
          <a href="##" target="_blank" class="ot-widget-button">View flickr profile</a>
        </div>

        <!-- END .footer-widget-column -->
      </div>

    </div>

    <div class="footer-copyright">
      <p>&copy; 2017 Copyright GDG MASCARA</p>
    </div>

    <!-- END .wrapper -->
  </div>

  <!-- END #footer -->
</footer>

<!--<div class="ot-follow-share">
    <a href="##" class="ot-color-facebook" data-h-title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="##" class="ot-color-twitter" data-h-title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="##" class="ot-color-google-plus" data-h-title="Google+"><i class="fa fa-google-plus"></i></a>
    <a href="##" class="ot-color-rss" data-h-title="RSS Feed"><i class="fa fa-rss"></i></a>
</div>-->

<!-- END .boxed -->
</div>

<!-- Scripts -->
<script type="text/javascript" src="jscript/jquery-latest.min.js"></script>
<script type="text/javascript" src="jscript/owl.carousel.min.js"></script>
<script type="text/javascript" src="jscript/material.min.js"></script>
<script type="text/javascript" src="jscript/shortcode-scripts.min.js"></script>
<script type="text/javascript" src="jscript/theme-scripts.min.js"></script>
<!-- END body -->
</body>
<!-- END html -->

</html>
