<%- include('header') %>

<main id="content">
  <!--<div class="full-width-map ot-content-block">
<iframe src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=333+E+34th+St,+New+York,+NY&aq=1&oq=333&sll=37.269174,-119.306607&sspn=16.742323,33.815918&ie=UTF8&hq=&hnear=333+E+34th+St,+New+York,+10016&t=m&z=14&ll=40.744403,-73.974467&output=embed"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>-->
  <!-- BEGIN .wrapper -->
  <div class="wrapper">
    <div class="ot-main-page-content">
      <div class="ot-content-block">
        <div class="otg otg-items-1 otg-h-30 otg-v-30">
          <div class="otg-item">
            <div class="ot-material-card ot-material-card-content">
              <div class="ot-title-block">
                <h2>Sign Up</h2>
              </div>
              <div class="comment-contact-form">
                <div id="respond">
                  <form class="ui form segment" method="post" enctype="multipart/form-data">
                    <!-- <div class="alert-message ot-shortcode-alert-message alert-green">
                        <strong>Success! This a success message</strong>
                    </div> -->

                    <p class="contact-form-user">
                      <label class="label-input">
                        <input type="text" required placeholder="First Name" name="name" value=""/>
                      </label>
                    </p>

                    <p class="contact-form-user">
                      <label class="label-input">
                        <input type="password" required placeholder="Password" name="password" value=""/>
                      </label>
                    </p>

                    <p class="form-submit">
                      <button name="registered" type="submit" id="submit" class="submit mdl-js-button mdl-js-ripple-effect">Signup</button>
                    </p>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END .wrapper -->
  </div>
  <!-- BEGIN #content -->
</main>


<%- include('footer') %>
